[submodule "roles/server_base"]
	path = roles/server_base
	url = git@github.com:dAppServer/ansible-server-base.git
[submodule "roles/observium"]
	path = roles/observium
	url = git@github.com:letheanVPN/ansible-observium-host.git
[submodule "roles/observium_agent"]
	path = roles/observium_agent
	url = git@github.com:letheanVPN/ansible-observium-agent.git
